<!--Beginn: Header-->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <app-breadcrumb class="float-sm-right" [items]="breadcrumbItems"></app-breadcrumb>
      </div>
    </div>
  </div>
</section>
<!--End: Header-->

<!--Beginn: Formular Zugriff erstellen-->
<section class="content">
  <form [formGroup]="newAccessCode" (ngSubmit)="post()">
    <div class="row">
      <!--Beginn: Linke spalte-->
      <div class="col-md-6">
        <!--Beginn: Kartenelement-->
        <div class="card card-secondary">
          <!--Beginn: Kartenheader-->
          <div class="card-header">
            <h3 class="card-title">Allgemeines</h3>
          </div>
          <!--End: Kartenheader-->
          <div class="card-body">
            <!--Beginn: Bezeichnung Formularfeld-->
            <div class="form-group">
              <label for="inputOverview">Bezeichnug des Zugriffs</label>
              <input type="text" id="inputOverview" formControlName="title" class="form-control">
            </div>
            <!--End: Bezeichnung Formularfeld-->

            <!--Beginn: Zugangscode Formularfeld-->
            <div class="form-group">
              <label for="accessCode">Zugangscode</label>
              <div class="input-group mb-3">
                <input type="text" id="accessCode" formControlName="accessCode" class="form-control">
                <div class="input-group-append">
                  <div type="button" class="btn btn-success" (click)="generateCode(10)">Code generieren</div>
                </div>
              </div>
            </div>
            <!--End: Zugangscode Formularfeld-->

            <!--Beginn: Dokumente hochladen-->
            <div class="form-group">
              <label for="inputFile">Dokumente hochladen</label>
              <div class="input-group">
                <div class="custom-files">
                  <input type="file" class="custom-file-input" formControlName="file" id="inputFile" multiple>
                  <label class="custom-file-label" for="inputFile">Datei auswählen</label>
                </div>
              </div>
            </div>
            <!--End: Dokumente hochladen-->
          </div>
        </div>
        <!--End: Kartenelement-->

        <!--Beginn: Kartenelement-->
        <div class="card card-secondary">
          <!--Beginn: Kartenheader-->
          <div class="card-header">
            <h3 class="card-title">Dokumente hinzufügen</h3>
            <div class="card-tools">
            </div>
          </div>
          <!--End: Kartenheader-->

          <!--Beginn: Dokument hinzufügen Formularfeld-->
          <div class="card-body">
            <!--Beginn: Dokumentenfilter-->
            <div class="form-group">
              <label for="filter">Filter</label>
              <div class="input-group mb-3">
                <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" id="filter"
                       class="form-control">
              </div>
            </div>
            <!--End: Dokumentenfilter-->
          </div>

          <!--Beginn: Auflistung der Dokumente-->
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Dokumentnamen</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let singleDocument of documents | dokumentFilter: searchTerm">
                <td>{{singleDocument.documentName}}</td>
                <td class="text-right py-0 align-middle">
                  <div class="btn-group btn-group-sm">
                    <div class="btn btn-info"><i class="fas fa-eye"></i></div>
                    <div class="btn btn-success" (click)="addDocument(singleDocument.documentID)"><i class="fas fa-plus"></i></div>
                  </div>
                </td>
              <tr>
              </tbody>
            </table>
          </div>
          <!--End: Auflistung der Dokumente-->
          <!--End: Dokument hinzufügen Formularfeld-->
        </div>
        <!--End: Kartenelement-->


      </div>
      <!--End: Linke Spalte-->

      <!--Beginn: Rechte Spalte-->

      <div class="col-md-6">
        <!--Beginn: Kartenelement-->
        <div class="card card-secondary">
          <!--Beginn: Kartenheader-->
          <div class="card-header">
            <h3 class="card-title">Hinzugefügte Dokumente</h3>
            <div class="card-tools">
            </div>
          </div>
          <!--End: Kartenheader-->

          <!--Beginn: Dokument hinzufügen Formularfeld-->
          <div class="card-body">
            <!--Beginn: Dokumentenfilter-->
            <div class="form-group">
              <label for="filterAdded">Filter</label>
              <div class="input-group mb-3">
                <input type="text" [(ngModel)]="searchTermAdded" [ngModelOptions]="{standalone: true}" id="filterAdded"
                       class="form-control">
              </div>
            </div>
            <!--End: Dokumentenfilter-->
          </div>

          <!--Beginn: Auflistung der Dokumente-->
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th>Dokumentnamen</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let singleDocument of documentsAdded | dokumentFilter: searchTermAdded">
                <td>{{singleDocument.documentName}}</td>
                <td class="text-right py-0 align-middle">
                  <div class="btn-group btn-group-sm">
                    <div class="btn btn-info"><i class="fas fa-eye"></i></div>
                    <div class="btn btn-danger" (click)="removeDocument(singleDocument.documentID)"><i class="fas fa-trash"></i></div>
                  </div>
                </td>
              <tr>
              </tbody>
            </table>
          </div>
          <!--End: Auflistung der Dokumente-->
          <!--End: Dokument hinzufügen Formularfeld-->
        </div>
        <!--End: Kartenelement-->
      </div>
      <!--Beginn: Rechte Spalte-->
    </div>

    <div class="row">
      <!--Beginn: Buttons-->
      <div class="col-12">
        <a href="#" class="btn btn-secondary">Abbruch</a>
        <div class="btn btn-danger float-right c-delete" (click)="delete()">Datenzugriff löschen</div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success float-right">Änderungen speichern</button>
      </div>
      <!--End: Buttons-->
    </div>
  </form>
</section>
