<!-- Content Header (Page header)-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Seminar erstellen</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item c-breadcrumb c-breadcrump" type="button" [routerLink]="'/'">Home</li>
                    <li class="breadcrumb-item active">Seminar erstellen</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <form [formGroup]="newSeminar" (ngSubmit)="post()">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Allgemeine Informationen</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" id="inputName" formControlName="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Beschreibung</label>
                            <textarea id="inputDescription" class="form-control" formControlName="description" rows="4"></textarea>
                        </div>
                    </div>
                </div>

                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Adressdaten</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">

                            <div class="form-group">
                                <label for="inputStreet">Straße</label>
                                <input type="text" id="inputStreet" formControlName="street" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputPostal">Postleitzahl</label>
                                <input type="text" id="inputPostal" formControlName="postal" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="inputCity">Stadt</label>
                                <input type="text" id="inputCity" formControlName="city" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="col-md-6">

                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Zusätzliche Informationen</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">

                            <div class="form-group">
                                <label for="inputStartDate">Startdatum</label>
                                <input type="text" id="inputStartDate" formControlName="startDate" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputEndDate">Enddatum</label>
                                <input type="text" id="inputEndDate" formControlName="endDate" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="inputCapacity">Anzahl Personen</label>
                                <input type="text" id="inputCapacity" formControlName="capacity" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Preisinformationen</h3>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label for="inputPrice">Preis der Schulung</label>
                            <input type="text" id="inputPrice" formControlName="price" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="inputPriceAccommodation">Preis p.P. für die Unterkunft</label>
                            <input type="text" id="inputPriceAccommodation" formControlName="priceAccommodation" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputPriceCatering">Preis p.P. für die Verpflegung</label>
                            <input type="text" id="inputPriceCatering" formControlName="priceCatering" class="form-control">
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-secondary">Abbruch</a>
                <button type="submit" class="btn btn-success float-right">Informationsbeitrag erstellen</button>
            </div>
        </div>
    </form>
</section>
