<!--Beginn: Header-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <app-breadcrumb class="float-right" [items]="breadcrumbItems"></app-breadcrumb>
            </div>
        </div>
    </div>
</section>
<!--End: Header-->

<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <button class="btn btn-success float-right c-button" [routerLink]="'/beratungstermine/uebersicht/erstellen'">
            Erstellen
        </button>
        <div class="card w-100" *ngFor="let consultingAppointment of consultingAppointments">
            <div class="card-header">


                <h3 class="card-title">
                    <div *ngIf="consultingAppointment.accepted === false" title="Noch keine Buchung">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-question-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14Z"/>
                        </svg>
                    </div>
                    <div *ngIf="consultingAppointment.accepted === true" title="Angenommen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    </div>
                </h3>


                <div class="card-tools">
                    <div typeof="button" class="btn btn-primary" [routerLink]="consultingAppointment.id">
                        Details
                    </div>
                </div>


            </div>
            <div class="card-body">
                {{consultingAppointment.startDate}}  - Uhrzeit: {{consultingAppointment.startTime}} - {{consultingAppointment.endTime}}
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
