<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Informationsbeitrag Übersicht</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Informationsbeitrag Übersicht</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="container-fluid">

        <button class="btn btn-success float-right c-button" [routerLink]="'/informationsbeitrag/erstellen'">Erstellen</button>

        <div class="card w-100">
            <div class="card-header">
                <h3 class="card-title">TestTitel</h3>
                <div class="card-tools">
                    <div typeof="button" class="btn btn-primary" [routerLink]="'./test'">
                    Bearbeiten</div>
                </div>

            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam debitis ducimus earum enim eos eum harum ipsam labore magnam nam nemo praesentium quidem, quos reprehenderit sit tempore velit vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore eos hic optio pariatur quam, voluptate. Accusamus doloribus enim sequi veritatis! Assumenda dolorum eius eveniet harum officiis perferendis recusandae vel voluptas?
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->

