<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{title}}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dokumentenzugriff Übersicht</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" *ngIf="keys">
  <!-- Default box -->
  <div class="container-fluid">
    <button class="btn btn-success float-right c-button" [routerLink]="'/dokumentenzugriff/uebersicht/erstellen'">Erstellen</button>
    <div class="card w-100" *ngFor="let key of keys">
      <div class="card-header">
        <h3 class="card-title">{{key.key}}</h3>
        <div class="card-tools">
          <div typeof="button" class="btn btn-primary" [routerLink]="'/dokumentenzugriff/code/' + key.id">
            Bearbeiten</div>
        </div>

      </div>
      <div class="card-body">
        {{key.description}}
      </div>
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->


