<!--Beginn: Header-->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
            </div>
            <div class="col-sm-6">
                <app-breadcrumb class="float-sm-right" [items]="breadcrumbItems"></app-breadcrumb>
            </div>
        </div>
    </div>
</section>
<!--End: Header-->


<section class="content">

    <!-- Default box -->
    <div class="container-fluid">
        <div class="card w-100" *ngFor="let singleSeminar of seminars">
            <div class="card-header">
                <h3 class="card-title">{{singleSeminar.title}}</h3>
                <div class="card-tools">
                    <div typeof="button" class="btn btn-primary" [routerLink]="singleSeminar.id">
                        Details</div>
                </div>
            </div>
            <div class="card-body">
                {{singleSeminar.description}}
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
